.clicktoopen{
    border: 0px;
    background:white;
    font-family: 'Marcellus', serif;
    font-size: 14px;
    cursor: pointer;
    height: 30px;
    padding: 4px 18px 4px 18px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    }
    .click{
    color: black;
    margin-top: 150px;
    transition: all .2s ease-in-out;

    
    }
    
    .click:hover{
    color:  #1C191A;
    background-color: #B0DFDF;
    transform: scale(1.1);
    }

