
.gallery {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-top: 10px;
  }

  .pat1, .pat2, .pat3, .pat4, .pat5, .pat6 {
   
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    
  }


  .titlePort {
   
    font-size: 30px;
    text-align: center;
    color: white;
    margin-top: -50px;
}

