.titlePort {
    font-size: 30px;
    text-align: center;
    margin-top: 0px;
}

#app{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: auto 1fr ;
    justify-items: center;
    grid-gap: 10px;

}

// .button-wrapper{
   

   
 
   
// }