.navHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 200px;
    padding-left: 20px;
    padding-right: 20px;

  }
#logo_mini {
    height: 65px;
    margin-top: 20px;
}

  #crossbar {
    animation: start 5s; 
}

@keyframes start {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }

  

