.navHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 200px;

  }
#logo_mini {
    width: 20%;
    margin-top: 10px;
}

  #crossbar {
    animation: start 2s; 
}

@keyframes start {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }

  

