.lightbox {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(69, 123, 157);
    z-index: 200;
    
    span {
        color:  white;
        font-size: 2em;
        cursor: pointer;
    }
}

.show-lightbox {
    display: block;
}

