body {
    font: $main-font-family;

}

.hidden {
    display: none;
}

.container {
    background-image: url(../images/bcgrnd_5.png);
    background-repeat: no-repeat;
    background-position: center;
  
}

.contactLeft {
    margin-bottom: 10px;
    width: 15px;
}

.shaman {
    display:none;
}

.copy {
    color: white;
    text-align: right;
    font-size: 14px;
}