body {
    font: $main-font-family;

}

.hidden {
    display: none;
}

.container {
    background-image: url(../images/bcgrnd_5.png);
    background-repeat: no-repeat;
    background-position: center;
  
}

.contactLeft {
    height: 346px;
    width: 23px;
}

.shaman {
    display:none;
}
