@media screen and (min-width: 48em){
    .contact-wrap{ 
        display: flex;
        flex-direction: row;
        
    }

    .gallery{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 50px;
        margin-top: 20px;
       }
       .media_cont{
        display: flex;
    }

    #logo_mini {
        width: 40%;
        margin-top: 10px;
    }

    .mainHeader{
        margin-top:50px;
    }    
    .about_content {
        margin-top:100px;
        width:400px;

    }

    }    