@media screen and (min-width: 48em){
.shaman { 
    display: flex;
    width: 50px;
}
}

@media screen and (min-width: 64em){
    .shaman { 
        display: block;
    }
}

@media screen and (min-width: 80em) {
    
    
}