
#mainNav {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    
    button { margin-left: auto; 
     background: url(../images/menu.svg) center no-repeat;
    border: 0px;
    width: 20px;
    height: 20px;
    transition: all 400ms ease;
    }

    button.expanded {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
      
        transform: rotate(90deg);
    }

    li a {
        display: block;
        padding: 10px 0;
        text-align: center;
    }
    li:last-child { margin-bottom: 10px; }
    li:hover { background-color: #efefef; }

  
  }
  
   /* push the button to the right hand side of the screen */

  #burgerCon { display: none; margin-top: 20px; }
  #burgerCon.slideToggle { display: block; }

  