#mainNav {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
   

    button { 
        margin-left: auto;
        background: url(../images/menu.svg) center no-repeat;
        border: 0px;
        width: 60px;
        height: 30px;
        transition: all 400ms ease;
    }

    button.expanded {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
      }
    
    li a {
        display: block;
        color: white;
        padding: 10px 0;
        text-align: center;
        text-decoration: none;
      
    }
    
    

  }
  
  #burgerCon { 
    display: none;
    margin-top: 20px; 
}
  #burgerCon.slideToggle { 
      display: block; 
}
  
  
  

  
 
  
  


